.card {
    position: center;
    display: center;
    flex-direction: column;
    word-wrap: break-word;
    background-color: beige;
    border-width: auto;
    box-sizing: border-box;
    margin: auto;
    width: 640px;
    max-height: 100%;
}
body {
    background-color: white;
}

.card-header {
    padding: 8px;
    font-weight: bold;
    font-family: Helvetica;
    color: green;
}
hr {
    border-width: 1px;
    border-color: aqua;
}
img {
    border-radius: 8px;
    width: 200px;
    height: 140px;
    padding: 10px;
}


.card-text {
    padding: 16px;
    
    word-wrap: break-word;

}
header {
    position: fixed;
    
} 
p1 {
    float: right;
}
div {opopooooooooopp
    display: block;
}
p1 {
    font-family: Helvetica;
    font-size: 20px;
}
p4 {
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: orange;
    margin: 6px;
    background-color: crimson;
    height: auto;
    font-size: 20px;
    background-position: center;
    line-height: 10px;
    font-family: Helvetica;
    
} 
