p {
    border-style: solid;
    border-color: orange;
    box-sizing: border-box;
    border-spacing: 2px;
    margin: 8px;
    padding: 10px;
    background-color: crimson;
    height: 50px;
    font-size: 20px;
}

body {
    background-color: teal
}

p1 {
    float: right;
    font-size: 14px;
    
} 

p2 {
    padding: 10px;
    font-size: 20px;
}

img {
    border-radius: 8px;
    width: 250px;
    height: 150px;
}


.bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: blue;
    margin: 8px;
    font-size: 25px; 
    border-color: orange; 
    border-spacing: 2px;
    padding: 10px;
}
