p {
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: orange;
    margin: 6px;
    background-color: crimson;
    background-position: center;
    line-height: 10px;
    font-family: Helvetica;
}

body {
    background-color: teal;
}

p1 {
    float: right;
    font-size: 14px;
    
} 

p2 {
    padding: 10px;
    font-size: 46px;
}

img {
    border-radius: 8px;
    width: 250px;
    height: 150px;
}


.bg-img {
    background-size: cover;
    background-position: center;
    background-color: palegreen;
    font-size: 25px; 
    padding: 4px;
    border-width: 600px;
    height: auto;
    margin: 200px;

}

p3 {
    padding: 12px;
    margin: auto;
    width: 600px;
    border-width: 600px;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: chocolate;

    
  }
  hr2 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: black;
    height: 22px;
  }